<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Add worker</title>
</head>
<body>
	<div>Add worker page</div>
	<form action="/addworker" method="POST">
		<div>
			<input id="name" name="name" type="text" value="Pavel">
			<label for="title">Name</label>
		</div>
		<div>
			<input id="surname" name="surname" type="text" value="Ost">
			<label for="title">Surname</label>
		</div>
		<div>
			<input id="age" name="age" type="text" value="34">
			<label for="title">Age</label>
		</div>
		<div>
			<input id="gender" name="gender" type="text" value="Male">
			<label for="title">Gender</label>
		</div>
		<div>
			<input id="position" name="position" type="text" value="Director">
			<label for="title">Position</label>
		</div>
		<div>
			<input id="married" name="married" type="checkbox" checked>
			<label for="title">Married</label>
		</div>

		<button>Добавить</button>
	</form>
</body>
</html>

